<div class="cpus-structure">
    <app-processor [cpuNum]="1"></app-processor>
    <app-processor [cpuNum]="2"></app-processor>
    <app-processor [cpuNum]="3"></app-processor>
    <app-processor [cpuNum]="4"></app-processor>
</div>
<div class="bus-hl"></div>
<app-bus></app-bus>
<section class="memory-structure d-flex">
    <app-main-memory-table class="m-auto bg-white"></app-main-memory-table>
</section>
<section class="sim-controls">
    <app-sim-controls></app-sim-controls>
</section>
<app-instructions-log></app-instructions-log>
